<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">


<div class="content_page">
    <div class="login_header">
        <div class="company_logo">
            <img src="./assets/img/Suvarna Logo1.png" alt="">
        </div>
        <div class="company_logo">
            <span class="providing_logo">IM</span>
        </div>
    </div>
    <div class="login_body">
        <div class="login_content">

            <div class="login_field_user_content">
                <h3 class="login_h3">Signup</h3>
                <div class="login_field_user">
                    <i class="fa-solid fa-user"></i>
                </div>
            </div>

            <div class="login_field_content form" >


                <!-- <div class="login_field">
                
                    <div class="im_login_field">
                        <span class="im_login_field_icon">
                            <i class="fa-solid fa-user"></i>
                        </span>
                        <input type="text" placeholder="First Name" id="im_first_name" class="form-control" formControlName="" >
                    </div>
                </div> -->

                <div class="login_field">
                    <!-- <label for="im_user_name">User Name</label> -->
                    <div class="im_login_field">
                        <span class="im_login_field_icon">
                            <i class="fa-solid fa-user"></i>
                        </span>
                        <input type="text" placeholder="User Name" id="im_last_name" [(ngModel)]="userobj.Username" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>


                <div class="login_field">
                    <!-- <label for="im_user_name">User Name</label> -->
                    <div class="im_login_field">
                        <span class="im_login_field_icon">
                            <i class="fa-solid fa-envelope"></i>
                        </span>
                        <input type="email" placeholder="email" id="im_last_name" [(ngModel)]="userobj.Email" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>

                <div class="login_field">
                    <!-- <label for="">Password</label> -->
                    <div class="im_login_field">
                        <span class="im_login_field_icon">
                            <i class="fa-solid fa-user"></i>
                        </span>

                        <select name="Role" id="Role"   [(ngModel)]="userobj.Role" [ngModelOptions]="{standalone: true}">
                            <option value="user"> User</option>
                            <option value="employee"> Employee</option>
                        </select>

                    </div>
                </div>

                <div class="login_field">
                    <!-- <label for="">Password</label> -->
                    <div class="im_login_field">
                        <span class="im_login_field_icon">
                            <i class="fa-solid fa-mobile-screen-button"></i>
                        </span>

                        <input type="text" placeholder="Mobile Number" id="im_user_name"  [(ngModel)]="userobj.mobile" [ngModelOptions]="{standalone: true}">

                    </div>
                </div>


                <div class="login_field">
                    <!-- <label for="">Password</label> -->
                    <div class="im_login_field">
                        <span class="im_login_field_icon">
                            <i class="fa-solid fa-lock"></i>
                        </span>

                        <input type="password" placeholder="Password" id="im_user_name" [(ngModel)]="userobj.Password" [ngModelOptions]="{standalone: true}">

                        <span class="im_login_field_view_icon">
                            <i class="fa-solid fa-eye"></i>
                        </span>
                    </div>
                </div>

                <div class="login_field">
                    <!-- <label for="">Retype Password</label> -->
                    <div class="im_login_field">
                        <span class="im_login_field_icon">
                            <i class="fa-solid fa-lock"></i>
                        </span>

                        <input type="password" placeholder="Retype Password" id="im_user_name"  [(ngModel)]="userobj.rPassword" [ngModelOptions]="{standalone: true}">

                        <span class="im_login_field_view_icon">
                            <i class="fa-solid fa-eye"></i>
                        </span>
                    </div>
                </div>

            </div>
            <div class="login_field_button">
                <a (click)="save()">Create</a>
            </div>
        </div>
    </div>
</div>