@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

:root {
    --basic_font_family: "roboto", "Noto Sans Myanmar UI", arial, sans-serif;
    --basic_font_size: 12px;
    --basic_padding: 7px;
    --basic_logo_size: 130px;
    --basic_xs_box_shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    --basic_sm_box_shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    --border_rounded: 50px;
    --border_xs__rounded: 3px;
    --border_sm_rounded: 5px;
    --login_input_padding: 7px 10px 7px 25px;
    --basic_login_gap: 15px;
    --basic_xs__gap: 3px;
    --basic_sm_gap: 5px;
    --login_h3_size: 20px;
    --login_input_label_color: #b2b2b2;

    --login_field_user_icon: #f4f4f4;
    --forgot_color: #ff0000;
    --login_theme_blue_color: #39739e;
}

/* colors_roots */
:root {
    --white_color: #ffffff;
    --login_bg_color: #f7f7ff;
}




::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border: 1px solid #c9c9c9;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    background-clip: padding-box;
    border: 0.05rem solid #eeeeee;
}

::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
}

/* scrollbar button */
::-webkit-scrollbar-button:single-button {
    background-color: #f1f1f1;
    display: block;
    border-style: solid;
    border-color: #c1c1c1;
    height: 5px;
    width: 8px;
}

/* scrollbar button end */

:root {
    --basic_font_family: "roboto", "Noto Sans Myanmar UI", arial, sans-serif;
    --basic_font_size: 12px;
    --basic_padding: 7px;
    --basic_logo_size: 125px;
    --right_content_sub_page: #f7f7f7;
    --login_h3_size: 20px;
    --theme_blue_color: #39739e;
    --border_rounded: 50px;
    --border_xs_rounded: 3px;
    --border_sm_rounded: 5px;
    --login_field_user_icon: #f4f4f4;
    --basic_xs__gap: 3px;
    --basic_sm_gap: 5px;

    --dashboard_padding: 15px;

    --dashboard_box_shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

/* colors_roots */
:root {
    --white_color: #ffffff;
    --login_bg_color: #f7f7ff;
}

/* colors_roots end */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--basic_font_family);
    text-decoration: none;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    font-family: var(--basic_font_family);
    font-size: var(--basic_font_size);
}

.content_page {
    display: flex;
    /* flex-direction: column; */
    overflow: hidden;
    height: 100%;
}

.left_content_page {
    flex: 1;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.content_page_header {
    padding: var(--basic_padding);
}

.menu_icon i {
    font-size: 20px;

    color: #494949;
}

.right_content_page {
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
}

.content_page_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--basic_padding);
    box-shadow: var(--basic_xs_box_shadow);
    background-color: var(--white_color);
    width: 100%;
}

.header_left {
    display: flex;
    gap: 10px;
    align-items: center;
}

.right_content_sub_page {
    flex: 1;
    background-color: var(--right_content_sub_page);
    /* padding: var(--basic_padding); */
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.content_page_body {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: var(--basic_padding);
    gap: 10px;
    height: 100%;
}

.content_page_footer {
    border-top: 1px solid #e5e5e5;
    padding: var(--basic_padding);
}

.login_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--basic_padding);
    box-shadow: var(--basic_xs_box_shadow);
    background-color: var(--white_color);
    width: 100%;
}

.company_logo img {
    width: var(--basic_logo_size);
}

.login_h3 {
    font-size: var(--login_h3_size);
    font-weight: 400;
}

.last_login {
    color: #515151;
}

.last_login_time {
    color: #000000;
    font-weight: 600;
}

ul.content_tabs li::before {
    content: "";
    border: 3px solid #f2f2f2;
    height: 18px;
    border-radius: var(--border_rounded);
}

.user_details ul.content_tabs li::before {
    content: "";
    border: 0;
    height: inherit;
    border-radius: 0;
    display: none;
}

.user_details ul.content_tabs li.tab_active::before,
.user_details ul.content_tabs li.tab_active:hover::before,
.user_details ul.content_tabs li:hover::before {
    content: "";
    border: 0;
    height: inherit;
    border-radius: 0;
}

ul.content_tabs li.tab_active::before,
ul.content_tabs li.tab_active:hover::before,
ul.content_tabs li:hover::before {
    content: "";
    border: 3px solid var(--theme_blue_color);
    height: 18px;
    border-radius: var(--border_rounded);
}

ul.content_tabs li {
    display: flex;
    align-items: center;
}

ul.content_tabs li a {
    padding: 10px;
    width: 100%;
    display: block;
}

.tab_active,
.user_details ul.content_tabs li:hover {
    border-radius: var(--border_sm_rounded);
    background-color: var(--right_content_sub_page);
}

.user_details ul.content_tabs li:hover {
    background-color: transparent;
}

li.tab_active a,
ul.content_tabs li a:hover {
    color: var(--theme_blue_color) !important;
    font-weight: 500;
}

ul.content_tabs li a {
    color: #000000;
}

/* .user_details {
    border: 1px solid #65a9db;
    padding: 10px;
    border-radius: 50px;
} */

.login_field_user i {
    color: #b8b8b8;
    font-size: 14px;
    background-color: var(--login_field_user_icon);
    padding: 8px;
    border-radius: 32px;
}

.user_details {
    position: relative;
}

.user_details_content {
    display: none;
}

.user_details:hover .user_details_content {
    display: block;
    position: absolute;
    top: 28px;
    right: 0;
    background-color: #ffffff;
    width: 136px;
    border-radius: 5px;
    box-shadow: var(--dashboard_box_shadow);
    /* padding: 10px; */
}

.content_tabs,
.log_out {
    padding: var(--basic_padding);
}

.log_out {
    border-top: 1px solid var(--login_field_user_icon);
}

ul {
    list-style: none;
}

.guest_login {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-start;
    align-items: baseline !important;
}

.tile_contents {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-basis: 50px;
    flex-wrap: wrap;
    /* width: 50%; */
    /* overflow: hidden; */
}

.tiles {
    background-color: #ffffff;
    box-shadow: var(--dashboard_box_shadow);
    padding: var(--dashboard_padding);
    border-radius: var(--border_sm_rounded);
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex: 1;
    /* flex-basis: 24.29%; */
    color: #000000;
}

.content_graph .tiles {
    box-shadow:
        rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
        rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    flex-basis: 24.29%;
    width: 30%;
}

.chartjs-render-monitor {
    width: 100% !important;
}

.tiles h3 {
    font-weight: 400;
}

.tiles_icon i {
    font-size: 26px;
    color: var(--theme_blue_color);
    background-color: var(--right_content_sub_page);
    /* padding: 15px; */
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border_rounded);
}

.tiles_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.count span {
    font-size: 26px;
    color: var(--theme_blue_color);
}

.other_content {
    flex: 1;
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
}

.content_graph,
.content_sub_page {
    background-color: #ffffff;
    padding: var(--dashboard_padding);
    border-radius: var(--border_sm_rounded);
    box-shadow: var(--dashboard_box_shadow);
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content_sub_page {
    overflow: hidden;
    padding: var(--basic_padding);
    gap: var(--basic_sm_gap);
}

.dashboard_body {
    padding: 9px;
}

/* table */
.tableFixHead {
    overflow: auto;
    height: 100%;
    background-color: #ffffff;
    /* box-shadow: var(--dashboard_box_shadow); */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    border-radius: var(--border_sm_rounded);
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}

#customers {
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f5f5f5;
}

#customers tr:hover {
    background-color: #f5f5f5;
}

#customers th {
    /* padding-top: 8px; */
    /* padding-bottom: 8px; */
    text-align: left;
    background-color: var(--theme_blue_color);
    color: white;
}

table i {
    color: var(--theme_blue_color);
}

.tb_action {
    display: flex;
    align-items: center;
    gap: 7px;
    justify-content: center;
}

/* table end */

.active {
    background-color: var(--theme_blue_color) !important;
    border: 1px solid var(--theme_blue_color) !important;
    border-radius: var(--border_rounded) !important;
    color: #ffffff !important;
}

.graph_buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--basic_sm_gap);
}

.graph_buttons button,
.cu_button {
    background-color: var(--right_content_sub_page);
    padding: 5px 15px;
    border: 1px solid var(--right_content_sub_page);
    border-radius: var(--border_rounded);
    color: var(--theme_blue_color);
}

.action_needed {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}



html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}